* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgb(51, 176, 68),rgb(53, 77, 210));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.0);
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: rgb(255, 255, 255);
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #be0e19;
    color: #fc4552;
}

.calculator button#clear:hover {
    transform: scale(1.1);
    background: #da0808;
    box-shadow: 0 0 5px #f80237, 0 0 25px #fc0439, 0 0 50px #fd0339, 0 0 200px #fc0238;
}

.calculator button.btn-number {
    background-color: #178ece;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #956995;
    color: #f967f3;
  }

  .calculator button.btn-operator:hover {
    transform: scale(1.0);
    box-shadow: 0 0 5px #9c008c, 0 0 25px #9c008c, 0 0 50px #9c008c, 0 0 200px #9c008c;
}

  
  .calculator button.btn-equal {
    background-color: #07a581;
    color: #000;
  }

  .calculator button.btn-equal:hover {
    transform: scale(0.9);
    box-shadow: 0 0 5px #147b04, 0 0 25px #147b04, 0 0 50px #147b04, 0 0 200px #147b04;
}

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #bf0735;
    color: #473132;
  }

  .calculator.dark button.btn-number {
    background-color: #2479a0;
    color: #f8fafb;
  }
  

  .calculator.dark button.btn-operator {
    background-color: #900282;
    color: #f751f1;
  }

  .calculator.dark button.btn-operator:hover {
    transform: scale(1.0);
    box-shadow: 0 0 5px #f050e0, 0 0 25px #f050e0, 0 0 50px #f050e0, 0 0 200px #f050e0;
}
  
  .calculator.dark button.btn-equal {
    background-color: #186c1e;
    color: #ffffff;
  }
 
  .calculator.dark button.btn-equal:hover {
    transform: scale(0.9);
    box-shadow: 0 0 5px #d0d62b, 0 0 25px #d0d62b, 0 0 50px #d0d62b, 0 0 200px #d0d62b;
}